<launch>

    <include file="$(find quadruped_gazebo)/launch/gazebo.launch"/>

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find quadruped_description)/config/configuration.rviz" required="true" />

    <node name="gazebo_communication" pkg="quadruped_gazebo" type="communication_gazebo.py" output="screen"/>

    <!-- <node name="motion_goal" pkg="quadruped_master" type="movement.py" output="screen"/> -->

</launch>