<launch>
 
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find quadruped_description)/config/configuration.rviz" required="true" />

    <node name="motion_goal" pkg="quadruped_master" type="movement.py" output="screen"/>

    <!-- <include file="$(find quadruped_vrep)/launch/gazebo.launch"/> -->

</launch>