<launch>
	<arg name="model" />


	<param name="robot_description" textfile="$(find quadruped_description)/urdf/quadruped.urdf"/>

  
	<!-- Starting robot state publish which will publish tf -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

	<!-- Launch visualization in rviz -->
	<!-- <node name="rviz" pkg="rviz" type="rviz"/> -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find quadruped_description)/config/configuration.rviz" required="true" />

</launch>