<launch>
  <arg name="usb_port"                default="/dev/ttyUSB0"/>
  <arg name="dxl_baud_rate"           default="1000000"/>
  <arg name="namespace"               default="joint_state_publisher"/>
<!-- 
  <param name="dynamixel_info"          value="$(find u2d2_controller)/config/joint_config.yaml"/> -->

  <node name="quadruped_communication" pkg="quadruped_communication" type="u2d2_communication.py" output="screen"/>

</launch>
